@import "tailwindcss";

html,
body {
  height: 100%;
  overflow: hidden;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #9ca3af;
}
::-webkit-scrollbar-thumb:hover {
  background: #6b7280;
}
